.sources-container #description {
    padding-bottom: 5px;
}

.sources-container #complete-info {
    padding: 0px 30px;
}
.sources-container #complete-info .category {
    display: none;
}
.sources-container #complete-info .first {
    display: block;
}
