/* Content */

#tour-container .title {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}
#tour-container .section {
    background-color: #EEE;
    border: #AAA solid 1px;
    margin-top: 20px;
    padding: 20px;
}
#tour-container .block {
    display: inline-block;
}
#tour-container .block1 {
    float: right;
    border: #AAA solid 1px;
    margin-top: 10px;
}
#tour-container .block2 {
    float: left;
    padding-right: 20px;
    width: 725px;
}
#tour-container .sectiontitle {
    font-size: 25px;
    font-weight: 700;
}
#tour-container .text {
    font-weight: 200;
    line-height: 25px;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
#tour-container h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#tour-container .category {
    font-style: italic;
    margin-bottom: -10px;
    font-weight: 400;
}
#tour-container .header {
    border-top: #428bca solid 1px;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 18px;
    font-style: italic;
}
#tour-container #purpose {
    width: 725px;
}
#tour-container #betastats {
    background-color: white;
    width: 202px;
    padding: 20px;
}
#tour-container #glossary {
    width: 500px;
}
#tour-container .question {
    font-style: italic;
}
#tour-container .answer {
    padding-bottom: 5px;
}
#tour-container pre {
    padding: 15px 0px 0px;
    line-height: 1;
    margin-top: 10px;
}
