/* Content */
.monarch-tour .clear {
    clear: both;
}

.monarch-tour .title {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}

.monarch-tour .section {
    background-color: #EEE;
    border: #AAA solid 1px;
    margin-top: 20px;
    padding: 20px;
}

.monarch-tour .block {
    display: inline-block;
}

.monarch-tour .block1 {
    float: right;
    border: #AAA solid 1px;
    margin-top: 10px;
}

.monarch-tour .block2 {
    float: left;
    padding-right: 20px;
    width: 725px;
}

.monarch-tour .sectiontitle {
    font-size: 25px;
    font-weight: 700;
}

.monarch-tour .text {
    font-weight: 200;
    line-height: 25px;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.monarch-tour h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.monarch-tour .category {
    font-style: italic;
    margin-bottom: -10px;
    font-weight: 400;
}

.monarch-tour .header {
    border-top: #428bca solid 1px;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 18px;
    font-style: italic;
}

.monarch-tour #purpose {
    width: 725px;
}

.monarch-tour #betastats {
    background-color: white;
    width: 202px;
    padding: 20px;
}

.monarch-tour #glossary {
    width: 500px;
}

.monarch-tour .question {
    font-style: italic;
}

.monarch-tour .answer {
    padding-bottom: 5px;
}

.monarch-tour pre {
    padding: 15px 0px 0px;
    line-height: 1;
    margin-top: 10px;
}
