span.test-require-ensure {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  font-weight: bold;
  color: darkslateblue;
}

span.test-require-ensure.active {
  animation-duration: 2s;
  animation-name: active-link;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
img.logo.rotate {
  animation-duration: 2s;
  animation-name: rotate-logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.dynamic-import-test {
  padding-top: 17px;
  width:70px;
  height:70px;
  background: ghostwhite;
  border:2px solid white;
  position:absolute;
  right:1px;
  bottom:1px;
  z-index:200;
}

.dynamic-import-test img.aligncenter {
  display: block;
  margin: auto;
}

.dynamic-import-test img.size-full {
  height: auto;
  max-width: 100%;
}
